body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mi-formulario input,
.mi-formulario textarea {
  display: block;
  max-width: 300px;
  width: 40%;
  margin: 15px;
  padding: 10px;
}

.mi-formulario input[type="submit"] {
  width: 40%;
  cursor: pointer;
  margin-bottom: 50px;
  background-color: green;
  color: white;
  border: 0px;
  border-radius: 3px;
}

.mi-formulario input[type="submit"]:hover {
  width: 40%;
  cursor: pointer;
  margin-bottom: 100px;
  background-color: lightgreen;
  color: black;
  border: 0px;
  border-radius: 3px;
}

.enviado,
.codigo {
  background-color: goldenrod;
  color: white;
  padding: 10px;
}
